.shopping-cart {
  padding: 80px 0;
  .shopping-cart__table {
    .cart-table {
      .cart-table__head {
        display: block;
        .cart-table__head-row {
          .cart-table__head-item {
            width: 630px;
            text-align: left;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 700;
            color: #1c1c1c;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebebeb;
          }
          .cart-table__head-price {
            width: 100px;
            text-align: center;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 700;
            color: #1c1c1c;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebebeb;
          }
          .cart-table__head-quantity {
            width: 225px;
            text-align: center;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 700;
            color: #1c1c1c;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebebeb;
          }
          .cart-table__head-total {
            width: 100px;
            text-align: center;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 700;
            color: #1c1c1c;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebebeb;
          }
          .cart-table__head-action {
            width: 80px;
            text-align: center;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 700;
            color: #1c1c1c;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebebeb;
          }
        }
      }
      .cart-table__body {
        margin-right: 20px;
        display: inline-block;
        width: 100%;
        max-height: 120vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          background: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
          background: var(--secondary-color);
        }
        .cart-table__body-row {
          .cart-table__body-item {
            display: flex;
            align-items: center;
            width: 630px;
            text-align: left;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #ebebeb;
            .item__img {
              display: inline-block;
              margin-right: 25px;
              width: 100px;
              height: 100px;
            }
            .item__name {
              text-transform: capitalize;
              font-size: 16px;
              font-weight: 400;
              color: #1c1c1c;
            }
          }
          .cart-table__body-price {
            width: 100px;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            color: #1c1c1c;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #ebebeb;
            .cart-table__body-currency {
              margin-left: 2px;
            }
          }
          .cart-table__body-quantity {
            width: 225px;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            color: #1c1c1c;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #ebebeb;
            .quantity {
              display: flex;
              align-items: center;
              justify-content: center;
              .quantity__inner {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 140px;
                height: 40px;
                background: #f5f5f5;
                .quantity__btn {
                  flex: 1;
                  width: 15px;
                  font-size: 16px;
                  color: #6f6f6f;
                  cursor: pointer;
                }
                .quantity__value {
                  flex: 1;
                  border-left: 1px solid #cec4c4;
                  border-right: 1px solid #cec4c4;
                }
              }
            }
          }
          .cart-table__body-total {
            width: 100px;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            color: #1c1c1c;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #ebebeb;
            .cart-table__body-currency {
              margin-left: 2px;
            }
          }
          .cart-table__body-delete {
            width: 80px;
            text-align: right;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #ebebeb;
            .cart-table__body-icon {
              font-size: 18px;
              color: #b2b2b2;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .grid__row--modifier {
    padding: 20px 0;
    .shopping-cart__discount {
      margin-top: 45px;
      h5 {
        text-transform: capitalize;
        font-size: 20px;
        color: #1c1c1c;
        font-weight: 700;
        margin-bottom: 25px;
      }
      .shopping-cart__discount-form {
        .discount-form__input {
          width: 255px;
          height: 46px;
          border: 1px solid #cccccc;
          font-size: 16px;
          color: #b2b2b2;
          text-align: center;
          display: inline-block;
          margin-right: 15px;
          outline: none;
        }
        .discount-form__btn {
          //   padding: 15px 30px 11px;
          width: 200px;
          height: 46px;
          font-size: 12px;
          letter-spacing: 3px;
          background: #6f6f6f;
          color: #ffffff;
          font-weight: 800;
          text-transform: uppercase;
          outline: none;
          border: none;
          line-height: 50px;
        }
      }
    }
    .shopping-cart__checkout {
      background: #f5f5f5;
      padding: 30px;
      padding-top: 20px;
      margin-top: 50px;
      h5 {
        text-transform: capitalize;
        color: #1c1c1c;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 28px;
      }
      .checkout__menu {
        margin-bottom: 28px;
        .checkout__subtotal {
          list-style: none;
          overflow: hidden;
          border-bottom: 1px solid #ebebeb;
          padding-bottom: 13px;
          margin-bottom: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .checkout__subtotal-title {
            font-size: 16px;
            color: #1c1c1c;
            font-weight: 700;
          }
          .checkout__subtotal-total {
            font-size: 16px;
            color: #fb5231;
          }
        }
        .checkout__total {
          list-style: none;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .checkout__subtotal-title {
            font-size: 16px;
            color: #1c1c1c;
            font-weight: 700;
          }
          .checkout__subtotal-total {
            font-size: 16px;
            color: #fb5231;
          }
        }
      }
      .checkout__btn {
        &:hover {
          background: #f05d40;
        }
        display: block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        background: #fb5231;
        letter-spacing: 2px;
      }
    }
  }
}
