.checkout {
  padding: 80px 0 60px;
  .checkout__content {
    h4 {
      text-transform: capitalize;
      color: #1c1c1c;
      font-size: 24px;
      font-weight: 700;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 20px;
      margin-bottom: 25px;
    }
    .checkout__form {
      .checkout__form-info {
        padding: 0 20px;
        h5 {
          font-size: 16px;
          line-height: 18px;
          padding: 10px 0;
          font-weight: 500;
        }
        .form-group {
          position: relative;
          margin-bottom: 18px;
          .gender {
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
            .gender__input {
              width: 20px;
              height: 20px;
            }
            .gender__label {
              margin-left: 5px;
              font-size: 14px;
              font-weight: 400;
              color: #333;
            }
          }
          .form-group__input {
            margin-top: 16px;
            width: 100%;
            min-height: 50px;
            padding: 14px 16px;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            outline: none;
            &:focus {
              border-color: #fb5331;
            }
            &:focus + .form-group__label {
              font-size: 12px;
              top: 30%;
              left: 2.5%;
            }
          }
          .form-group__label {
            position: absolute;
            top: 45%;
            left: 2.5%;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.4);
          }
          &.form-group--modifier {
            .form-group__label {
              left: 4.5%;
            }
          }
        }
      }
      .checkout__form-order {
        background: #f5f5f5;
        padding: 40px;
        padding-top: 30px;
        h4 {
          text-transform: capitalize;
          color: #1c1c1c;
          font-size: 20px;
          font-weight: 700;
          border-bottom: 1px solid #e1e1e1;
          padding: 10px 0 20px;
          margin-bottom: 20px;
        }
        .checkout__order__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-size: 18px;
            color: #1c1c1c;
            font-weight: 600;
            margin-bottom: 10px;
          }
        }
        .checkout__order__products {
          padding-bottom: 12px;
          margin-bottom: 12px;
          .checkout__order__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px 0;
            span {
              font-size: 14px;
              font-weight: 400;
              color: #6f6f6f;
            }
            .checkout__order__item-name {
              strong {
                font-size: 16px;
                color: rgba(#333, 0.6);
              }
            }
            .checkout__order__item-amount {
              font-weight: 500;
              .currency {
                margin-left: 2px;
              }
            }
          }
        }
        .checkout__order__subtotal {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #e1e1e1;
          border-top: 1px solid #e1e1e1;
          padding-bottom: 15px;
          margin-bottom: 15px;
          padding-top: 15px;
          span {
            font-size: 16px;
            color: #1c1c1c;
            font-weight: 500;
          }
          .checkout__order__item-amount {
            font-weight: 500;
            .currency {
              margin-left: 2px;
            }
          }
        }
        .checkout__order__total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #e1e1e1;
          padding-bottom: 15px;
          margin-bottom: 15px;
          padding-top: 15px;
          span {
            font-size: 16px;
            color: #1c1c1c;
            font-weight: 500;
          }
          .checkout__order__item-amount {
            font-weight: 500;
            .currency {
              margin-left: 2px;
            }
          }
        }
        .checkout__order-btn {
          &:hover {
            background: #f05d40;
          }
          width: 100%;
          margin-top: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 18px;
          font-weight: 800;
          color: #fff;
          padding: 14px 30px;
          border: none;
          background: #fb5331;
          transition: all 0.5s;
        }
      }
    }
  }
}
