@media only screen and (max-width: 1200px) {
  .sidebar-seller {
    transition: all 0.8s;
    z-index: 200;
    &:hover {
      width: 345px !important;
      .sidebar-brand {
        h2 {
          span:last-child {
            display: inline-block !important;
          }
        }
      }
      .sidebar-menu {
        li {
          padding-left: 1rem;
          a {
            padding-left: 1rem;
            i {
              margin-left: 0;
            }
            span:last-child {
              display: inline-block !important;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 960px) {
  .sidebar-seller {
    left: -100% !important;
  }
  .main-content-seller {
    width: 100%;
    margin-left: 0;
    header {
      width: 100% !important;
      left: 0 !important;
    }
    main {
      .cards {
        grid-template-columns: repeat(3, 1fr);
      }
      .recent-flex {
        grid-template-columns: 60% 40%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .main-content-seller {
    width: 100%;
    margin-left: 0rem;
    header {
      width: 100% !important;
      left: 0 !important;
      h2 {
        label {
          display: inline-block;
          text-align: center;
          background: var(--main-color-seller);
          padding-right: 0rem;
          margin-right: 1rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .search-wrapper {
        display: none;
      }
    }
    main {
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
      .recent-flex {
        grid-template-columns: 100%;
      }
    }
  }
  #sidebar-toggle:checked + .sidebar-seller {
    left: 0 !important;
    z-index: 300;
    width: 345px !important;
    .sidebar-brand {
      h2 {
        span:last-child {
          display: inline-block !important;
        }
      }
    }
    .sidebar-menu {
      li {
        padding-left: 1rem;
        a {
          padding-left: 1rem;
          i {
            margin-left: 0;
          }
          span:last-child {
            display: inline-block !important;
          }
        }
      }
    }
  }
  #sidebar-toggle:checked + .main-content-seller {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 560px) {
  .main-content-seller {
    main {
      .cards {
        grid-template-columns: 100%;
      }
    }
  }
}
