// Black
$color-black-0: #000;
$color-black-1: #333;
$color-black-2: #4a4a4a;
$color-black-3: #222;

// White
$color-white-0: #fff;
$color-white-1: #999;

// Red
$color-red-0: #f00;
$color-red-1: #c10017;
$color-red-2: #e62117;

// Green
$color-green-0: #008848;
$color-green-1: #528871;

// Blue
$color-blue-0: #4d9ddb;
$color-blue-1: #41a7e0;

// Yellow
$color-yellow-0: #fbcb16;

// Orange
$color-orange-0: #ff4500;
