.box-radius-1 {
  border-radius: 4px;
}
.clear-flex {
  clear: both;
}

.border-bottom {
  border-bottom: 1px dashed $color-white-4;
}

.border-bottom-solid {
  border-bottom: 1px solid $color-white-4;
}
