.form-manage {
  display: inline-flex;
  width: 100%;
  .form-manage__content {
    width: 100%;
    .form-manage__wrapper {
      box-shadow: rgba(215, 215, 215, 50%) 0px 4px 16px;
      .form-manage__inner {
        margin: 0 auto;
        .manage-form {
          background: $color-white-0;
          border-radius: 4px;
          overflow: hidden;
          .manage-form__header {
            min-height: 5rem;
            display: flex;
            align-items: center;
            .manage-form__heading {
              width: 100%;
              padding: 0 30px;
              font-size: 18px;
              font-weight: 600;
              color: $color-black-3;
              text-transform: capitalize;
            }
          }
          .manage-form__form {
            padding: 0 30px 30px;
            .manage-form__group {
              min-height: 60px;
              margin-bottom: 10px;
              .manage-form__input {
                &:focus {
                  border: 1px solid #222;
                }
                &::placeholder {
                  color: rgba(0, 0, 0, 0.25);
                }
                font-size: 14px;
                color: #222;
                width: 100%;
                padding: 12px;
                border: 1px solid rgba(0, 0, 0, 0.14);
                border-radius: 2px;
                box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
                outline: none;
              }
              .manage-form__check {
                min-height: 1rem;
                padding-top: 4px;
                visibility: hidden;
              }
            }
            .manage-form__btn {
              &:hover {
                background: #f05d40;
              }
              width: 100%;
              margin-bottom: 30px;
              min-width: 8.75rem;
              height: 2.5rem;
              color: #fff;
              background: #ee4d2d;
              transition: all 0.2s;
            }
          }
        }
      }
    }
  }
}
.seller-content {
  // margin: 0 !important;
}

.seller-management {
  margin-top: 3.5rem;
  .btn-create {
    margin-bottom: 10px;
    padding: 16px 20px;
    background: #dd2f6e;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    i {
      margin-right: 4px;
    }
  }
}
