#sidebar-toggle:checked ~ .main-content-seller {
  margin-left: 70px;
  header {
    width: calc(100% - 70px);
    left: 70px;
  }
}

.main-content-seller {
  transition: margin-left 300ms;
  margin-left: 345px;
  header {
    position: fixed;
    top: 0;
    left: 345px;
    width: calc(100% - 345px);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: left 300ms;

    h2 {
      color: #222;
      label {
        i {
          font-size: 1.7rem;
          padding-right: 1rem;
        }
      }
    }
    .search-wrapper {
      border: 1px solid #ccc;
      border-radius: 30px;
      height: 50px;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      input {
        height: 100%;
        padding: 0.5rem;
        border: none;
        outline: none;
      }
      i {
        display: inline-block;
        padding: 0rem 1rem;
        margin-right: 1rem;
        font-size: 1.5rem;
      }
    }
    .user-wrapper {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
      }
      .info {
        small {
          display: inline-block;
          color: var(--text-grey-seller);
        }
      }
    }
  }
  main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      margin-top: 1rem;
      .card-single {
        &:last-child {
          background: var(--main-color-seller);
          .card-info,
          .card-icon {
            h1,
            span,
            i {
              color: #fff;
            }
          }
        }
        display: flex;
        justify-content: space-between;
        background: #fff;
        padding: 2rem;
        border-radius: 2px;
        .card-info {
          span {
            color: var(--text-grey-seller);
          }
        }
        .card-icon {
          i {
            font-size: 3rem;
            color: var(--main-color-seller);
          }
        }
      }
    }
    .recent-flex {
      margin-top: 3.5rem;
      display: grid;
      grid-template-columns: 65% auto;
      grid-gap: 2rem;
      .projects {
        .card {
          background: #fff;
          border-radius: 5px;
          .card-header {
            padding: 1rem;
            border-bottom: 2px solid #f0f0f0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
              background: var(--main-color-seller);
              border-radius: 10px;
              color: #fff;
              font-size: 0.8rem;
              padding: 0.5rem 1rem;
              border: 1px solid var(--main-color-seller);
              outline: none;
            }
          }
          .card-body {
            padding: 1rem;
            table {
              width: 100%;
              overflow-x: hidden;
              border-collapse: collapse;
              thead {
                tr {
                  border-top: 1px solid #f0f0f0;
                  border-bottom: 2px solid #f0f0f0;
                  th {
                    text-transform: capitalize;
                    text-align: left;
                    padding: 0.5rem 1rem;
                    font-weight: 700;
                    font-size: 0.9rem;
                    color: #222;
                  }
                }
              }
              tbody {
                tr {
                  td {
                    text-transform: capitalize;
                    text-align: left;
                    padding: 0.5rem 1rem;
                    font-size: 0.9rem;
                    color: #222;
                    .status {
                      display: inline-block;
                      margin-right: 0.5rem;
                      width: 10px;
                      height: 10px;
                      border-radius: 50%;
                      &.purple {
                        background: rebeccapurple;
                      }
                      &.pink {
                        background: deeppink;
                      }
                      &.orange {
                        background: orangered;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .customers {
        background: #fff;
        border-radius: 5px;
        .card {
          background: #fff;
          border-radius: 5px;
          .card-header {
            padding: 1rem;
            border-bottom: 2px solid #f0f0f0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
              background: var(--main-color-seller);
              border-radius: 10px;
              color: #fff;
              font-size: 0.8rem;
              padding: 0.5rem 1rem;
              border: 1px solid var(--main-color-seller);
              outline: none;
            }
          }
          .card-body {
            padding: 1rem;
            .customer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0.5rem 0.7rem;
              .customer__info {
                display: flex;
                align-items: center;
                .avatar {
                  img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 1rem;
                  }
                }
                .info {
                  h4 {
                    font-size: 0.8rem;
                    font-weight: 700;
                    color: #222;
                  }
                  small {
                    font-weight: 600;
                    color: var(--text-grey-seller);
                  }
                }
              }
              .customer__contact {
                i {
                  font-size: 1.2rem;
                  display: inline-block;
                  margin-left: 0.5rem;
                  color: var(--main-color-seller);
                }
              }
            }
          }
        }
      }
    }
  }
}
