#sidebar-toggle {
  display: none;
  &:checked + .sidebar-seller {
    width: 70px;
  }
  &:checked + .sidebar-seller {
    li {
      a {
        padding-left: 0;
        i {
          margin-left: 1rem;
        }
      }
    }
  }
  &:checked + .sidebar-seller .sidebar-brand,
  &:checked + .sidebar-seller {
    li {
      padding-left: 0.5rem;
    }
  }
  &:checked + .sidebar-seller .sidebar-brand h2 span:last-child,
  &:checked + .sidebar-seller li a span:last-child {
    display: none;
  }
}

.sidebar-seller {
  width: 345px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--main-color-seller);
  transition: width 300ms;
  .sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    transition: all 0.8s;
    color: #fff;
    span {
      display: inline-block;
      padding-right: 1rem;
    }
  }
  .sidebar-menu {
    margin-top: 1rem;
    li {
      transition: all 0.8s;
      list-style: none;
      width: 100%;
      margin-bottom: 1.7rem;
      padding-left: 1rem;
      a {
        &.active {
          background: #fff;
          color: var(--main-color-seller);
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-radius: 30px 0 0 30px;
        }
        display: block;
        color: #fff;
        font-size: 1.1rem;
        text-decoration: none;
        padding-left: 1rem;
        span {
          &:first-child {
            font-size: 1.5rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
