.main-content {
  margin-left: 280px;
  transition: margin-left 300ms;
  header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: #efefef;
    background: #fff;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    left: 280px;
    width: calc(100% - 280px);
    z-index: 20;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: left 300ms;
    .menu-toggle {
      label {
        height: 60px;
        width: 60px;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        border-radius: 50%;
        &:hover {
          background: #efefef;
        }
      }
    }
    .header-icons {
      span {
        display: inline-block;
        margin-left: 0.7rem;
        font-size: 1.4rem;
      }
    }
  }
  main {
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    .page-header {
      display: flex;
      justify-content: space-between;
      .header-actions {
        button {
          outline: none;
          color: #fff;
          background: #5850ec;
          //   border: 2px solid #ccc;
          border: none;
          padding: 0.6rem 1rem;
          margin-left: 1rem;
          border-radius: 3px;
          font-weight: 600;
          span {
            font-size: 1.2rem;
            margin-left: 0.6rem;
          }
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      margin-top: 2rem;
      .card-single {
        background: #fff;
        padding: 1rem;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        .card-flex {
          display: grid;
          grid-template-columns: 70% auto;
          align-items: center;
          .card-info {
            .card-head {
              span {
                display: block;
                text-transform: uppercase;
                color: #555;
                font-size: 0.9rem;
              }
              small {
                font-weight: 600;
                color: #555;
              }
            }
            h2 {
              font-size: 2.2rem;
              color: #333;
            }
          }
          .card-chart {
            span {
              font-size: 5rem;
            }
            &.success span {
              color: seagreen;
            }
            &.danger span {
              color: tomato;
            }
            &.yellow span {
              color: orangered;
            }
          }
        }
      }
    }
    .product-grid {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: auto 66%;
      grid-gap: 3rem;
      .analytics-card {
        background: #fff;
        padding: 1.5rem;
        .analytics-head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 3rem;
          h2 {
            font-size: 2rem;
          }
          span {
            font-size: 1.5rem;
          }
        }
        .analytics-chart {
          small {
            font-weight: 600;
            color: #555;
            margin-bottom: 1rem;
            display: block;
          }
          .chart-circle {
            height: 150px;
            width: 150px;
            border-left: 10px solid transparent;
            border-right: 10px solid #5850ec;
            border-bottom: 10px solid #5850ec;
            border-top: 10px solid #5850ec;
            display: grid;
            place-items: center;
            margin: auto;
            border-radius: 50%;
            margin-bottom: 3rem;
          }
          .analytics-btn {
            button {
              display: block;
              padding: 0.6rem 1rem;
              width: 100%;
              height: 45px;
              background: #5850ec;
              color: #fff;
              border: 1px solid #5850ec;
              border-radius: 3px;
            }
          }
        }
      }
      .products {
        h3 {
          small {
            color: #5850ec;
            font-weight: 600;
            font-size: 0.9rem;
            display: inline-block;
            margin-left: 1rem;
          }
        }
        .table-responsive {
          overflow: auto;
          .products__table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
            span.indicator {
              background: #c9f7f5;
              height: 15px;
              width: 15px;
              border-radius: 50%;
            }
            span.indicator.even {
              background: #fff4de;
              height: 15px;
              width: 15px;
              border-radius: 50%;
            }
            button {
              background: #8da2fd;
              color: midnightblue;
              border: 1px solid #8da2fd;
              padding: 0.5rem;
              border-radius: 3px;
            }
            tr {
              td {
                div {
                  margin-bottom: 0.8rem;
                  padding: 0.5rem;
                  font-size: 0.9rem;
                  font-weight: 500;
                  color: #444;
                  background: #fff;
                  height: 60px;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1124px) {
  .sidebar {
    left: -100%;
    z-index: 30;
  }
  #sidebar-toggle:checked ~ .sidebar {
    left: 0;
  }
  .main-content {
    margin-left: 0;
    header {
      left: 0;
      width: 100%;
    }
    main {
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
      .product-grid {
        overflow-x: auto;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    main {
      .page-header {
        display: block;
        .header-actions {
          margin-top: 1rem;
          text-align: right;
          button:first-child {
            margin-left: 0rem;
          }
        }
      }
      .cards {
        grid-template-columns: 100%;
      }
      .product-grid {
        grid-template-columns: 100%;
      }
    }
  }
}
